body {
    color: #222;
    font-family: Arial, sans-serif;
  }

nav a {
    text-decoration: none;
    color: #222;
}

.navleftitem {
    position: absolute;
    display: flex;
}

.navrightitem {
    display: flex;
    justify-content: flex-end;
    float: right;
}

.navitem {
    margin: 10px;
    font-size: 13px;
}

.mainspacer {
    height: 130px;
    width: 100%;
}

.centerstuff {
    text-align: center;
}

.buttonstyles {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    font-size: 13px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

footer a {
    text-decoration: none;
    color: gray;    
}

.footeritem {
    margin: 10px;
    font-size: 15px;
}